.container {
    width: 30%;
    border: 1px solid rgb(255, 0, 0);
    padding: 100px;
}
.register-btn {
    text-decoration: none;
    color:  #fff;
    padding: 5px 5px;
    border: 1px solid #0D3B66;
    background-color: #0D3B66;
    font-size: 14px;
    transition: all 2s;
}
.register-btn:hover{
    background-color: rgb(249, 87, 56);
    border-color: rgb(249, 87, 56);
    border-radius: 25px;
}