/* 
    #A8E8F9
    #00537A
    #013C58
    #F5A201
    #FFBA42
    #FFD35B
 */
 @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Secular+One&display=swap');
 body {
    background-color: #fcd7a7f3;
    font-family: 'Secular One', sans-serif;
 }
.container {
    width: 30%;
    border: 1px solid #00537A;
    background-color: #00537A;
    border-radius: 40px;
    padding: 50px;
    margin-top: calc(50% - 45%);
    box-shadow: 20px 20px 20px -8px #00537A;
}
#titulo {
    color:white;
    border: 1px solid #FFBA42;
    background-color: #FFBA42;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    width: 100%;
}
.form-label {
    color: white;
    text-decoration: underline #FFBA42 2px;
    font-size: 20px;
}
.register-btn {
    text-decoration: none;
    color:  #fff;
    padding: 15px;
    border: 1px solid #0D3B66;
    background-color: #0D3B66;
    font-size: 20px;
    border-radius:15px;
    transition: all 1s;
    margin: 5px;
}
.register-btn:hover{
    background-color: #FFBA42;
    border-color: #FFBA42;
}
.form-control {
    background-color: #013C58;
    border: 1px solid #013C58;
    color:white;
}
.error {
    color: red;
}
#divPass {
    display: flex;  
}
#divPass  * {
    margin: 10px;
}
#divPass img {
    background-color: #FFBA42;
    padding: 5px;
    border-radius: 25%;
}
#divPass img:hover {
    background-color: #A8E8F9;
}
input[type="contrasena"]{
    width: 80%;
}
a[id="ALogin"] {
    text-decoration: none;
    color: #fff;
}
span[id="und"]{
    text-decoration: underline;
}
span[id="und"]:hover {
    color: #FFBA42;
}
#log-titulo {
    color:white;
    border: 1px solid #FFBA42;
    background-color: #FFBA42;
    border-radius: 20px;
    padding: 5px;
    width: 450px;
    text-align: center;
}
.container-login {
    background-color: #A8E8F9;
    position: fixed;
    z-index: 10;
    top: calc(50% - 30%);
    left: calc(35%);
    color: #000;
    box-shadow: none;
}
.disabled-background {
    background-color: #0000006e;
    width: 2000px;
    height: 2000px;
    position:fixed;
    top: 0;
    z-index: 2;
}
