/* !PALETA DE COLORES
#E9F5DB
#CFE189
#B5C99A
#97A97C
#87986A
#718355 
#FFBA42
*/
body {
    background-color: #E9F5DB;
}
 nav {
    display: flex;
    flex-direction: row;
    background-color: #718355;
    height: 80px;
    width: 100%;
} 
nav .logo-ppal {
    display: flex;
    flex-direction: row;
    color: black;
    width: 200px;
    height: 80%;
    background-color: #97A97C;
    font-size: 25px;
    font-weight: 800;
    margin: 10px;
    align-items: center;
    border: 1px solid #000;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
} 
nav .logo-ppal > * {
    margin: 10px 0px;
    padding: 10px;
}
nav #s-form {
    width: 500px;
    margin: 15px;
    margin-left: 120px;
}
nav #aProd {
    text-decoration: none;
    color: #fff;
    width: 150px;
    font-size: 20px;
    margin-top: 25px;
}
nav #aProd:hover{
    text-decoration: underline; 
    color: #FFBA42
}
nav > p {
    color: #fff;
    font-size: 20px;
    margin-top: 25px;
    margin-right: 10px;
}
nav #profile-icon {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
nav .btns {
    margin-top: 5px;
    margin-left: 10px;
}
#btn-buscar {
    margin-top: 0px;
    height: 50px;

}
nav #btn-buscar > img {
    width: 30px;
    height: 30px;
    margin-bottom: 30px;
    margin-top: -5px;
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}
.ppal-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 15%;
}
.prod-container{
    width: 300px;
    height: 425px;
    background-color: #87986A;
    border-radius: 10px;
    margin: 15px;
    display: grid;
    color: #fff;
    grid-template-rows: 10px 2fr 0.5fr 0.5fr;
    grid-template-columns: 20px 2fr 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
} 
.register-btn {
    text-decoration: none;
    color:  #fff;
    padding: 15px;
    border: 1px solid #97A97C;
    background-color: #97A97C;
    font-size: 20px;
    border-radius:15px;
    transition: all 1s;
    margin: 5px;
}
.register-btn:hover{
    background-color: #FFBA42;
    border-color: #FFBA42;
} 
.register-btn:disabled{
    opacity: 0.6;
    background-color: #97A97C;
}
#prod-img {
    grid-column: 2;
    grid-row: 2;
    width: 100%;
    height: 250px;
}
.prod-container h2 {
    grid-column: 2;
    grid-row: 2;
    margin-top: 97%;
} 
#prod-desc {
    grid-column: 2;
    grid-row: 3;
}
#prod-precio {
    grid-column: 2;
    grid-row: 4;
}
#prod-add {
    grid-column: 3;
    grid-row: 4;
}
#offStock {
    grid-column: 2;
    grid-row: 4;
    margin-top: 45px;
    color: #ff0000;
}

#btn-a {
    color: white;
    text-decoration: none;
}
.cesta {
    grid-row: 4;
    grid-column: 3;
    margin: -20px 10px 35px -120px;
    display: flex;
    flex-direction: row;
}
.cesta > .form-select {
    margin-top: 15px;
    border-color: #000;
    color:black;
    background-color: #97A97C;
    width: 100px;
    height: 50px;
}
.cesta .cesta-btn:disabled:hover {
    color: lightgray;
    border-color: lightgray;
}
/** DATOS USUARIO (zonaUsuario.php)  */
.datos-usuario {
    background-color: #718355;
    font-size: 20px;
    color: #fff;
    width: 700px;
    height: 400px;
    border: 5px #fff solid;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    padding: 15px;
    margin-top: 50px;
}
.datos-usuario .container {
    border: 1px solid #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.datos-usuario .enlaces{
    display: flex;
    flex-flow: row wrap;
}
.datos-usuario .enlaces a {
    color: #fff;
    text-decoration: none;
    background-color: #97A97C;
    border: #97A97C solid 1px;
    padding: 5px;
    margin: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.datos-usuario .enlaces a:hover {
    background-color: #FFBA42;
    border-color: #FFBA42;
}

/* * TABLA DE LA CESTA  */
.table {
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    margin: 15px;
}
.table td img{
    width: 100px;
    height: 100px;
}